body {
        background: linear-gradient(white, #696969) no-repeat;
        background-color:#696969;
}

#Centro {
    width: 900px;
    margin: 0 auto 0 auto;
    height: auto;
    padding: 20px;
    color:#000;
}

#FormEmpresa {
    width: 600px;
    height: 500px;
    margin: 0 auto 0 auto;
    text-align: center;
    background-color:#363636;
    padding: 20px;
    border: 2px solid;
    border-radius: 25px;
    color: #fff;
    font-family:'Lucida Sans';
    display: table;
}

#FormEmpresa label {
        width: 77px;
        display: block;
        float: left;
        text-align: left;
        line-height: 25px;
}

#FormEmpresa input[type=text], #FormEmpresa input[type=password] {
        width: 70%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family:'Lucida Sans';
}
